@import url('https://fonts.googleapis.com/css2?family=Lora&family=Overpass+Mono&display=swap');

body {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 12px;
}

canvas {
    z-index: -1;
}

.panel-holder {
    width: 175px;
    height: 100vh;
    position: absolute;
    z-index: 1;

    overflow-y: scroll;
}

.panel {
    background-color: #222;
    border-bottom-right-radius: 6px;
    padding: 5px 10px;
    width: 150px;

    border: 1px solid #444;
}

/* width */
::-webkit-scrollbar {
    width: 6px;
    height: 0px;
}

/* Track */
::-webkit-scrollbar-track {
    background: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #444;
    border-radius: 2px;
    width: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
    border-radius: 2px;
    width: 10px;
}
  
.panel-section h3 {
    border-bottom: 1px solid #444;
    padding-bottom: 5px;
    margin-bottom: 10px;
    margin-top: 8px;
    font-size: 14px;
    color: #aaa;
}

.input-group {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.input-group label {
    flex: 1;
    font-size: 12px;
    color: #888;
}

.input-group input {
    flex: 1;
    background-color: #333;
    border: 1px solid #444;
    border-radius: 2px;
    color: #c1c1c1;
    padding: 3px 5px;
    font-size: 12px;
    width: 50px;
}

.input-group button {
    flex: 1;
    background-color: #333;
    border: 1px solid #444;
    border-radius: 2px;
    color: #c1c1c1;
    padding: 3px 5px;
    font-size: 12px;
    width: 25px;
}

.stats-panel {
    flex: 1;
    background-color: #333;
    border: 1px solid #444;
    border-radius: 2px;
    color: #c1c1c1;
    padding: 3px 5px;
    font-size: 12px;
    width: 50px;
    aspect-ratio: 1;
}

/* General styles for the slider */
input[type='range'] {

    -webkit-appearance: none; /* Removes default webkit styles */
    appearance: none;
    width: 100%; /* Specific width can be set if needed */
    margin: 0px 0; /* Add margin to handle larger thumb */
  }
  
  /* Style for the slider track */
  input[type='range']::-webkit-slider-runnable-track {
    width: 100%;
    height: 8px;
    background: transparent; /* Changed to a dark grey color */
    border-radius: 4px;
    border: none; /* Remove any default border */
  }
  
  /* Style for the slider thumb */
  input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 16px; /* Square dimensions */
    height: 16px;
    background: #444; /* Neutral thumb color */
    border-radius: 2px; /* Square corners */
    position: relative; /* Ensure the thumb is positioned correctly */
    top: 50%;
    transform: translateY(-50%); /* Center vertically */
    border: none; /* Remove any default border */
  }
  
  /* Style for the slider thumb for Firefox */
  input[type='range']::-moz-range-thumb {
    width: 16px;
    height: 16px;
    background: #444; /* Neutral thumb color */
    border-radius: 2px; /* Square corners */
    border: none;
  }
  
  /* Style for the slider thumb for IE */
  input[type='range']::-ms-thumb {
    width: 16px;
    height: 16px;
    background: #444; /* Neutral thumb color */
    border-radius: 2px; /* Square corners */
    border: none;
  }
  
  /* Styles for the track for Firefox */
  input[type='range']::-moz-range-track {
    background: transparent;
    border-radius: 4px;
    border: none;
  }
  
  /* Styles for the track for IE */
  input[type='range']::-ms-track {
    background: transparent;
    border-radius: 4px;
    border: none;
    /* You must specify a size for IE */
    width: 100%;
    height: 8px;
  }
  
  input[type='range']::-ms-fill-lower {
    background: transparent;
  }
  
  input[type='range']::-ms-fill-upper {
    background: transparent;
  }

.tooltip {
    position: relative;
}

.tooltip > .ttext {
    border-bottom: 1px dotted #444;
}

.tooltip .tooltiptext {
    visibility: hidden;
    text-align: center;
    padding: 2px 2px;
    border-radius: 2px;

    width: 209%;
    

    position: absolute;
    z-index: 4;
    top: 110%;
    left: 0px;

    border: 1px solid #444;
    background-color: #333;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}
  
  
  